<!DOCTYPE html>
<html>
    <head>
        <title>login page</title>
        <% include partials/header.html %>
    </head>
    <body bgcolor="lightgrey">
        <h1>welcome to the world of node js</h1>
        
        <h1>This is about page </h1>   

        <href></href>
    </body>
</html>