<!DOCTYPE html>
<html>
    <head>
        <title>login page</title>
        <% include partials/header.html %>
    </head>
    <body bgcolor="lightgrey">
        <h1>welcome to the world of node js</h1>

            <li><a href="/login">LOGIN</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/showuser">User_info</a></li>
            

        <href></href>
    </body>
</html>